@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Lato:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  color: #BB99DD;               
  margin-top: 80px;
}

h2 {
  font-weight: 300;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.margin-ball {
  height: 200px;
  width: 200px;
  border: 2px solid #BB99DD;
  border-radius: 100rem;
  padding: 3px;
  
}

.perfil {
  height: 200px;
  width: 200px;
  border-radius: 100rem;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
  mask-image: linear-gradient(to top, transparent 0%, black 30%);
}

.insta {
  font-size: .8rem;
}

main {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  font-weight: 600;
}

.link{
  display: flex;
  border: 2px solid #BB99DD;
  width: 400px;
  padding: 18px;
  border-radius: 0.5rem;
  justify-content: center;
  color: #BB99DD;
  text-decoration: none;
  font-size: .8rem;
  margin-bottom: 10px;
}

.link:hover{
  width: 410px;
  font-size: 1rem;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 80px;
}

.icons a {
  margin-left: 50px;
}

.icons a:hover {
  height: 35px;
}
